@{
    ViewData["Title"] = "Home Page";
}

<span class="text-center">@TempData["SucessfulMessage"]</span>

<div class="text-center">
    <h1 class="display-4">Seja Bem-Vindo!</h1>
    <p>Sistema de tarefas com logins multiplos, aproveite!</p>
</div>

