<span class="text-danger">@TempData["ErrorMessage"]</span>
<span class="text-dark" style="color: green;">@TempData["SucessfulMessage"]</span>

<a class="nav-link text-dark" asp-area="" asp-controller="Tarefas" asp-action="Cadastrar"><button class="btn btn-primary">Cadastrar Tarefa</button></a>